/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:500px;
}
.book{
	padding:30px;
	text-align:center;
	
}
button{
	background-color:green;
	height:40px;
	width:400px;
	border-radius:10px;
}
.heading{
	font-size:15px;
	text-align:left;
}
.para{
	text-align:left;
}